p {
    /* background-image: url("1.png");
    background-repeat: no-repeat;
    /* background-color: brown; */
    /* background-position: center;
    background-size: 500px; */
    /* background-origin: 20px; */
    /* background-position-y: bottom;
    background-blend-mode: hue; */
    /* border: 2px groove black; */
    /* border-radius: 50%; */
    /* border-top-color: red;
    border-left-color: green;
    border-right-color: yellow;
    border-bottom-color: brown;
    border-width: 5px; */
    border: 2px solid green;
}