img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#overflow {
    color: black;
    width: 75%;
    height: 100px;
    overflow-y: scroll;
    border: 1px solid red;
}